.navbar {
    position: fixed;  /* Fix the navbar to the left of the screen */
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 90px;
    background-color: #BA0C2F;
    padding-top: 20px;
    padding-left: 15px; /* Adjust padding for better alignment */
    height: 100vh;  /* Full viewport height */
    outline: none;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    width: 70px;
    height: 45px;
    margin-top: 50px; /* Reduced margin for spacing between items */
    border-radius: 35%;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
    outline: none;
}

.nav-item:hover {
    background-color: #C0c0c0;
    color: #fff;
    outline: none;
}

.nav-item:focus {
    outline: none;
}

.mail-logo, .msg-logo, .ppl-logo {
    width: 40px;
    display: flex;
    align-items: center;
    outline: none;
}

