.navbar {
    position: fixed;  /* Fix the navbar to the left of the screen */
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 6%;
    background-color: #BA0C2F;
    padding-top: 20px;
    padding-left: 15px; 
    height: 100vh; 
    outline: none;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    width: 75%;
    height: 6%;
    margin-top: 50%; 
    border-radius: 35%;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
    outline: none;
}

.nav-item:hover {
    background-color: #C0c0c0;
    color: #fff;
    outline: none;
}

.nav-item:focus {
    outline: none;
}

.mail-logo, .msg-logo, .ppl-logo {
    width: 70%;
    display: flex;
    align-items: center;
    outline: none;
}

.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center; /* Centers content vertically within the button */
    width: 100%;
    height: 100%;
}

